@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background: radial-gradient(#30282887, #ddcdcd);
}
#main{
  /* display: grid; */
  grid-gap: 2rem;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  margin-top: 100px;
  margin-left: 70px;
  margin-bottom: 50px;
}
#header{
  /* height: 50px; */
  top: 0px;
  padding: 20px;
  position: fixed;
  background: floralwhite;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#title{
font-size: 17px;
  font-family: cursive;
  margin-left: 15px;
  font-weight: 800;
  color: brown;
}
#menu_layout{
  margin-right: 30px;
}
#footer{
/* height: 30px; */
padding: 10px;
bottom: 0px;
position: fixed;
background: #292828;
width: 100%;
}
#footerContent{
font-size: 12px;
font-weight: 600;
color: white;
text-align: center;
margin-top: 5px;
display: inherit;
}

nav ul{
list-style-type: none;
margin: 0;
padding: 0;
font-size: 12px;
}
nav ul li{
display: inline;
}
nav ul li a{
text-decoration: none;
color: #333;
padding: 10px;
cursor: pointer;
}
nav ul li a:hover{
background-color: #333;
color: white;
cursor: pointer;
}

img{
  transition: transform 0.2s;
}

img:hover{
  transform:scale(1.2);
}


